html {
  font-size: 20px;
}

body {
  background: #82b94d;
	/* padding-top: 1rem; */
}

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

#contant {
  position: relative;
  width: 18.75rem;
  margin: 0 auto;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/bg2.jpg) no-repeat;
  background-size: 100%;
  height: 33.15rem;
  padding-bottom: 0.9rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

#danlists {
  height: 20rem;
  padding-top: 7.5rem;
}

#danlists h1 {
  height: 1.4rem;
  line-height: 2.5rem;
  color: #000;
  font-size: 0.7rem;
  font-weight: normal;
  text-align: center;
}

#danlists ul {
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-left: 1.15rem;
}

.clear {
  clear: both;
}

#danlists ul li {
  position: relative;
  width: 5.25rem;
  height: 5.25rem;
  float: left;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/jindan1.png) no-repeat;
  background-size: 100%;
}

#danlists ul li:nth-child(1) {
  margin: 0.5rem 0 0.2rem -0.5rem;
}

#danlists ul li:nth-child(2) {
  margin: 0.5rem 0 0.2rem 0.5rem;
}

#danlists ul li:nth-child(3) {
  margin: 0.65rem 0 0.2rem 0.5rem;
}

#danlists ul li:nth-child(4) {
  margin: 1.55rem 0 0.2rem -0.5rem;
}

#danlists ul li:nth-child(5) {
  margin: 1.55rem 0 0.2rem 0.5rem;
}

#danlists ul li:nth-child(6) {
  margin: 1.65rem 0 0.2rem 0.5rem;
}

#danlists ul li:nth-child(7) {
  margin: 0.75rem 0 0.2rem -0.5rem;
}

#danlists ul li:nth-child(8) {
  margin: 0.8rem 0 0.2rem 0.5rem;
}

#danlists ul li:nth-child(9) {
  margin: 0.85rem 0 0.2rem 0.5rem;
}

#danlists ul li span {
  width: 2.55rem;
  height: 1.1rem;
  display: block;
  position: absolute;
  left: 1.35rem;
  bottom: 1.5rem;
}

.beat .tip {
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/zawoyouli.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
  -webkit-animation: tipscale .6s linear .1s 2 alternate;
  -moz-animation: tipscale .6s linear .1s 2 alternate;
  -ms-animation: tipscale .6s linear .1s 2 alternate;
  -o-animation: tipscale .6s linear .1s 2 alternate;
  animation: tipscale .6s linear .1s 2 alternate
}

.beat1 .tip {
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/zawoyouli.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
  -webkit-animation: tipscale .6s infinite linear .1s alternate;
  -moz-animation: tipscale .6s infinite linear .1s alternate;
  -ms-animation: tipscale .6s infinite linear .1s alternate;
  -o-animation: tipscale .6s infinite linear .1s alternate;
  animation: tipscale .6s infinite linear .1s alternate;
}

@keyframes tipscale {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(1)
  }
}

@-webkit-keyframes tipscale {
  from {
    -webkit-transform: scale(1)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@-moz-keyframes tipscale {
  from {
    -moz-transform: scale(1)
  }
  to {
    -moz-transform: scale(1)
  }
}

#danlists ul > li.eggbreak {
  -webkit-animation: eggbreak .5s;
  -moz-animation: eggbreak .5s;
  -ms-animation: eggbreak .5s;
  -o-animation: eggbreak .5s;
  animation: eggbreak .5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.beat {
  -webkit-animation: beat .5s linear 0s 2 alternate;
  -moz-animation: beat .5s linear 0s 2 alternate;
  -ms-animation: beat .5s linear 0s 2 alternate;
  -o-animation: beat .5s linear 0s 2 alternate;
  animation: beat .5s linear 0s 2 alternate
}

.beat1 {
  -webkit-animation: beat .5s infinite linear 0s alternate;
  -moz-animation: beat .5s infinite linear 0s alternate;
  -ms-animation: beat .5s infinite linear 0s alternate;
  -o-animation: beat .5s infinite linear 0s alternate;
  animation: beat .5s infinite linear 0s alternate
}

@keyframes beat {
  from {
    transform: translateY(0)
  }
  to {
    transform: translateY(-15px)
  }
}

@-webkit-keyframes beat {
  from {
    -webkit-transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-15px)
  }
}

.jiang {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 2.2rem;
  height: 0.8rem;
  line-height: 1.15rem;
  text-align: center;
  font-size: 0.65rem;
  z-index: 2;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/laodongjie/prize.png) no-repeat;
  background-size: 100% 100%;
}

.chuizi {
  position: absolute;
  right: 0rem;
  top: 8.0rem;
  width: 2.55rem;
  height: 2.75rem;
  z-index: 2;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/chuizi.png);
  background-size: 100% 100%;
}

.rotateInit {
  transform-origin: right bottom;
  -webkit-animation: hammerrotateinit 3.5s ease-in-out 0s infinite alternate;
  -moz-animation: hammerrotateinit 3.5s ease-in-out 0s infinite alternate;
  -ms-animation: hammerrotateinit 3.5s ease-in-out 0s infinite alternate;
  -o-animation: hammerrotateinit 3.5s ease-in-out 0s infinite alternate;
  animation: hammerrotateinit 3.5s ease-in-out 0s infinite alternate
}

@keyframes hammerrotateinit {
  100%,
  20%,
  40%,
  60%,
  80% {
    transform: rotate3d(0, 0, 1, 15deg)
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate3d(0, 0, 1, -15deg)
  }
}

@-webkit-keyframes hammerrotateinit {
  100%,
  20%,
  40%,
  60%,
  80% {
    transform: rotate3d(0, 0, 1, 15deg)
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate3d(0, 0, 1, -15deg)
  }
}

@keyframes eggbreak {
  0%,
  10%,
  20%,
  30% {
    background: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/jindan1.png) no-repeat;
    background-size: 100% 100%;
  }
  40%,
  50%,
  60% {
    background: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/jindan2.png) no-repeat;
    background-size: 100% 100%;
  }
  70%,
  80%,
  90%,
  100% {
    background: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/jindan3.png) no-repeat;
    background-size: 100% 100%;
  }
}

@-webkit-keyframes eggbreak {
  0%,
  10%,
  20%,
  30% {
    background: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/jindan1.png) no-repeat;
    background-size: 100%;
  }
  40%,
  50%,
  60% {
    background: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/jindan2.png) no-repeat;
    background-size: 100%;
  }
  70%,
  80%,
  90%,
  100% {
    background: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/jindan3.png) no-repeat;
    background-size: 100%;
  }
}

.alerty {
  position: absolute;
  top: 5.0rem;
  left: 0;
  display: none;
  z-index: 3;
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
  margin-right: 1.375rem;
  margin-left: 1.375rem;
  background: #fff;
  border-radius: 0.75rem;
}

.saclose {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 3;
  width: 1.6em;
  height: 1.6em;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/hdgg_close.png) 0 0 no-repeat;
  background-size: contain;
}

.zhenotice {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4)
}

.rule {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 2.2rem;
  height: 0.8rem;
  text-align: center;
  font-size: 0.65rem;
  z-index: 1;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/dazhuanpan/rule.png) no-repeat;
  background-size: 100% 100%;
}

.notice {
  position: relative;
  padding-bottom: 0.5rem;
}

.notice h1 {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-top: 0.5rem;
  color: #440d00;
  text-align: center;
  font-weight: normal;
}

.notice h1.ntile1 {
  height: 3.5rem;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  margin-top: 0;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/activenotice.jpg) no-repeat;
  background-size: 100% 100%;
}

.notice h1.title {

  color: #440d00;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.notice h1 span {
  width: 1.75rem;
  height: 1px;
  display: inline-block;
  background: #440d00;
  vertical-align: middle;
}

.notice h1 span:first-child {
  margin-right: 0.4rem;
}

.notice h1 span:last-child {
  margin-left: 0.4rem;
}

.notice .contant {
  width: 85%;
  height: 16rem;
  margin: 0 auto;
  padding: 0.5rem;
  color: #440d00;
  overflow: auto;
}

.notice .contant p {
  line-height: 1rem;
  font-size: 0.6rem;
  margin-bottom: 0.25rem;
}

.notice .contant p.font14, .notice .contant h1.font14 {
  font-size: 0.7rem;
}

.moresay {
  background: #fd6918;
  color: #fff;
  width: 80%;
  height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5rem;
}

.moresayp {
  display: none;
  padding-top: 1.0rem;
}

.moresay i {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  margin-left: .3rem;
  transition: all .3s ease-in-out;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transform-origin: .15rem .15rem;
  transform-origin: .15rem .15rem;
  vertical-align: middle;
  border: 1px solid transparent;
  border-top-color: #fff;
  border-left-color: #fff;
}

.activeadv i {
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

.botBg {
  background-color: #84b84a;
  background-size: 100%;
  width: 100%;
  height: 5.8rem;
}

.przieLogo {
  position: absolute;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/prize.png) no-repeat center center;
  background-size: 100%;
  width: 2.1rem;
  height: 2.1rem;
  top: 29rem;
  left: 0;
  z-index: 2;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 5.3rem;
  color: #fff;
  margin-top: 0;
  margin-left: 1rem;
  z-index: 0 !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 4rem;
  /*margin-top: 0.5rem;*/
  /*margin-bottom: 0.5rem;*/
}

.swiper-slide:nth-child(1) {
  margin-left: 0.5rem;
}

.swiper-slide .imgf {
  width: 19.75rem;
  height: 4rem;
  margin: 0.55rem auto 0;
  display: block;
  /*border-radius: 0.5rem;*/
  /*border: 3px solid #fae00b;*/
}

.swiper-slide p {
  margin-top: 0.3rem;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 0.6rem;
}

.swiper-slide:nth-child(1) .imgf {
  background: url(https://hdggcdn.bayimob.com/hdggstatic/zadan5/libao.png) no-repeat;
  background-size: 100%;
}

.swiper-slide:nth-child(2) .imgf {
  /*width: 1rem;*/
  /*background: #fff url(https://hdggcdn.bayimob.com/hdggstatic/laoyu/libaoxing.png) no-repeat;*/
  background-size: 100%;
}