html {
    font-size: 20px;
}

body {
    background: #d85746;
}

#contant {
    position: relative;
    width: 18.75rem;
    margin: 0 auto;
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100%;
    height: 30.15rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

.music {
    position: absolute;
    top: 8rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/tiggeryinyue.png) no-repeat;
    background-size: 100% 100%;
}

.musicstop {
    background: url(https://hdggcdn.bayimob.com/hdggstatic/tiggerguanbi.png) no-repeat;
    background-size: 100% 100%;
}

.music {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotate 3s linear infinite;
    -moz-animation: rotate 3s linear infinite;
    -o-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(359deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(359deg)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

#danlists {
    height: 19rem;
    padding-top: 12.3rem;
}

#danlists h1 {
    height: 1.4rem;
    line-height: 1.4rem;
    color: #fff;
    font-size: 0.7rem;
    font-weight: normal;
    text-align: center;
}

#danlists ul {
    width: 15.5rem;
    margin: 0 auto;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.clear {
    clear: both;
}

#danlists ul li {
    position: relative;
    width: 4.0rem;
    height: 4.6rem;
    margin: 0 1.4rem 1.2rem 0;
    float: left;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/jindan_1.png) no-repeat;
    background-size: 100% 100%;
}

#danlists ul li:nth-child(3n) {
    margin: 0 0 1.2rem 0.2rem;
}

#danlists ul li span {
    width: 3rem;
    height: 1.05rem;
    display: block;
    position: absolute;
    left: 0.5rem;
    bottom: 1.2rem;
}

.beat .tip {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/zawoyouli.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
    -webkit-animation: tipscale .6s linear .1s 2 alternate;
    -moz-animation: tipscale .6s linear .1s 2 alternate;
    -ms-animation: tipscale .6s linear .1s 2 alternate;
    -o-animation: tipscale .6s linear .1s 2 alternate;
    animation: tipscale .6s linear .1s 2 alternate
}

.beat1 .tip {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/zawoyouli.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
    -webkit-animation: tipscale .6s infinite linear .1s alternate;
    -moz-animation: tipscale .6s infinite linear .1s alternate;
    -ms-animation: tipscale .6s infinite linear .1s alternate;
    -o-animation: tipscale .6s infinite linear .1s alternate;
    animation: tipscale .6s infinite linear .1s alternate;
}

@keyframes tipscale {
    from {
        transform: scale(.9)
    }
    to {
        transform: scale(1.1)
    }
}

@-webkit-keyframes tipscale {
    from {
        -webkit-transform: scale(.9)
    }
    to {
        -webkit-transform: scale(1.1)
    }
}

@-moz-keyframes tipscale {
    from {
        -moz-transform: scale(.9)
    }
    to {
        -moz-transform: scale(1.1)
    }
}

#danlists ul>li.eggbreak {
    -webkit-animation: eggbreak .5s;
    -moz-animation: eggbreak .5s;
    -ms-animation: eggbreak .5s;
    -o-animation: eggbreak .5s;
    animation: eggbreak .5s;
    animation-fill-mode: forwards;
}

.beat {
    -webkit-animation: beat .5s linear 0s 2 alternate;
    -moz-animation: beat .5s linear 0s 2 alternate;
    -ms-animation: beat .5s linear 0s 2 alternate;
    -o-animation: beat .5s linear 0s 2 alternate;
    animation: beat .5s linear 0s 2 alternate
}

.beat1 {
    -webkit-animation: beat .5s infinite linear 0s alternate;
    -moz-animation: beat .5s infinite linear 0s alternate;
    -ms-animation: beat .5s infinite linear 0s alternate;
    -o-animation: beat .5s infinite linear 0s alternate;
    animation: beat .5s infinite linear 0s alternate
}

@keyframes beat {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-15px)
    }
}

@-webkit-keyframes beat {
    from {
        -webkit-transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-15px)
    }
}

.jiang {
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 2.7rem;
    height: 2.7rem;
    line-height: 1.15rem;
    text-align: center;
    font-size: 0.65rem;
    z-index: 2;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/dazhuanpan/myprize.png) no-repeat;
    background-size: 100% 100%;
}

.chuizi {
    position: absolute;
    right: 0rem;
    top: 10.0rem;
    width: 3.0rem;
    height: 3.0rem;
    z-index: 2;
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/chuizi.png);
    background-size: 100% 100%;
}

.rotateInit {
    transform-origin: right bottom;
    -webkit-animation: hammerrotateinit 3.5s ease-in-out 0s infinite alternate;
    -moz-animation: hammerrotateinit 3.5s ease-in-out 0s infinite alternate;
    -ms-animation: hammerrotateinit 3.5s ease-in-out 0s infinite alternate;
    -o-animation: hammerrotateinit 3.5s ease-in-out 0s infinite alternate;
    animation: hammerrotateinit 3.5s ease-in-out 0s infinite alternate
}

@keyframes hammerrotateinit {
    100%,
    20%,
    40%,
    60%,
    80% {
        transform: rotate3d(0, 0, 1, 15deg)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate3d(0, 0, 1, -15deg)
    }
}

@-webkit-keyframes hammerrotateinit {
    100%,
    20%,
    40%,
    60%,
    80% {
        transform: rotate3d(0, 0, 1, 15deg)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate3d(0, 0, 1, -15deg)
    }
}

@keyframes eggbreak {
    0%,
    10%,
    20%,
    30% {
        background: url(https://hdggcdn.bayimob.com/hdggstatic/jindan_1.png) no-repeat;
        background-size: 100% 100%;
    }
    40%,
    50%,
    60% {
        background: url(https://hdggcdn.bayimob.com/hdggstatic/jindan_2.png) no-repeat;
        background-size: 100% 100%;
    }
    70%,
    80%,
    90%,
    100% {
        background: url(https://hdggcdn.bayimob.com/hdggstatic/jindan_3.png) no-repeat;
        background-size: 100% 100%;
    }
}

@-webkit-keyframes eggbreak {
    0%,
    10%,
    20%,
    30% {
        background: url(https://hdggcdn.bayimob.com/hdggstatic/jindan_1.png) no-repeat;
        background-size: 100%;
    }
    40%,
    50%,
    60% {
        background: url(https://hdggcdn.bayimob.com/hdggstatic/jindan_2.png) no-repeat;
        background-size: 100%;
    }
    70%,
    80%,
    90%,
    100% {
        background: url(https://hdggcdn.bayimob.com/hdggstatic/jindan_3.png) no-repeat;
        background-size: 100%;
    }
}

.alerty {
    position: absolute;
    top: 5.0rem;
    left: 0;
    display: none;
    z-index: 3;
    margin-top: 0.5rem;
    margin-bottom: 0.9rem;
    margin-right: 1.375rem;
    margin-left: 1.375rem;
    background: #fff;
    border-radius: 0.75rem;
}

.saclose {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 3;
    width: 1.6em;
    height: 1.6em;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/hdgg_close.png) 0 0 no-repeat;
    background-size: contain;
}

.zhenotice {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4)
}

.rule {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 2.3rem;
    height: 0.9rem;
    text-align: center;
    font-size: 0.65rem;
    z-index: 1;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/fanpai/rulewhile.png) no-repeat;
    background-size: 100% 100%;
}

.notice {
    position: relative;
    padding-bottom: 0.5rem;
}

.notice h1 {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    color: #440d00;
    text-align: center;
    font-weight: normal;
}

.notice h1.ntile1 {
    height: 3.5rem;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    margin-top: 0;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/activenotice.jpg) no-repeat;
    background-size: 100% 100%;
}

.notice h1.title {
    color: #440d00;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.notice h1 span {
    width: 1.75rem;
    height: 1px;
    display: inline-block;
    background: #440d00;
    vertical-align: middle;
}

.notice h1 span:first-child {
    margin-right: 0.4rem;
}

.notice h1 span:last-child {
    margin-left: 0.4rem;
}

.notice .contant {
    width: 85%;
    height: 16rem;
    margin: 0 auto;
    padding: 0.5rem;
    color: #440d00;
    overflow: auto;
}

.notice .contant p {
    line-height: 1rem;
    font-size: 0.6rem;
    margin-bottom: 0.25rem;
}

.notice .contant p.font14,
.notice .contant h1.font14 {
    font-size: 0.7rem;
}

.moresay {
    background: #fd6918;
    color: #fff;
    width: 80%;
    height: 1.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5rem;
}

.moresayp {
    display: none;
    padding-top: 1.0rem;
}

.moresay i {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    margin-left: .3rem;
    transition: all .3s ease-in-out;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform-origin: .15rem .15rem;
    transform-origin: .15rem .15rem;
    vertical-align: middle;
    border: 1px solid transparent;
    border-top-color: #fff;
    border-left-color: #fff;
}

.activeadv i {
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
}

#allcontants {
    position: relative;
    width: 12.9rem;
    height: 10.8rem;
    margin: 0 auto;
    margin-top: 8.25rem;
    overflow-y: hidden;
}

#allcontants .zhao {
    position: absolute;
    top: -0.05rem;
    left: 0.15rem;
    width: 12.7rem;
    height: 11.2rem;
    border-radius: 0.5rem;
    z-index: 2;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/tiggershadow.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.real {
    position: absolute;
    top: -86.4rem;
    width: 33%;
    display: block;
    float: left;
}
.real.ahover1 {
    top: -15rem;
    transition: top 5s ease-in;
}
.real.ahover2 {
    top: -10.8rem;
}
.real.ahover3 {
    top: -6.6rem;
    transition: top 5s ease-in;
}

.real1 {
    left: -0.4rem;
}

.real2 {
    left: 4rem;
}

.real3 {
    left: 8.27rem;
}

.real .tile {
    background: #fff;
    margin: 0 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    width: 67%;
    height: 3.0rem;
}

.tile img {
    width: 100%;
}

.rule1 {
    position: absolute;
    top: 25.2rem;
    left: 1.7rem;
    width: 2.4rem;
    height: 1.75rem;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/tiggerrule.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.rule1,

.myprize {
    position: absolute;
    top: 25.2rem;
    right: 1.7rem;
    width: 2.4rem;
    height: 1.75rem;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/tiggerprize.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.start {
    position: absolute;
    top: 20rem;
    left: 6.8rem;
    width: 4.975rem;
    height: 3.475rem;
    background: url(../images/btn1.png) 0 0 no-repeat;
    background-size: 100% 100%;
}


 .startc {
    position: absolute;
    top: 20rem;
    left: 6.8rem;
    width: 4.975rem;
    height: 3.475rem;
    background: url(../images/btn2.png) 0 0 no-repeat;
    background-size: 100% 100%;
} 

.adctive {
    height: 1rem;
    transition: height 2s;
    -moz-transition: height 2s;
    /* Firefox 4 */
    -webkit-transition: height 2s;
    /* Safari å’Œ Chrome */
    -o-transition: height 2s;
    /* Opera */
}

.adhong {
    transition: cubic-bezier(.25, .1, .25, 1);
}

.start1 {
    cursor: pointer;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-name: pulseBtn;
    animation-name: pulseBtn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulseBtn {
    from,
    to {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
    50% {
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1)
    }
}

@keyframes pulseBtn {
    from,
    to {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
    50% {
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1)
    }
}

@-webkit-keyframes wobbleCoin {
    from,
    to {
        -webkit-transform: none;
        transform: none
    }
    15% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -25deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -25deg)
    }
    30% {
        -webkit-transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 15deg);
        transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 15deg)
    }
    45% {
        -webkit-transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -15deg);
        transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -15deg)
    }
    60% {
        -webkit-transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 10deg);
        transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 10deg)
    }
    75% {
        -webkit-transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -5deg)
    }
}

@keyframes wobbleCoin {
    from,
    to {
        -webkit-transform: none;
        transform: none
    }
    15% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -25deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -25deg)
    }
    30% {
        -webkit-transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 15deg);
        transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 15deg)
    }
    45% {
        -webkit-transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -15deg);
        transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -15deg)
    }
    60% {
        -webkit-transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 10deg);
        transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 10deg)
    }
    75% {
        -webkit-transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -5deg)
    }
}

.dingwei {
    position: absolute;
    width: 100%;
    height: 33.35rem;
    top: 0;
    left: 0;
    z-index: 3;
}

.couten {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
    background: transparent;
}

.couten li {
    position: absolute;
    animation: all 1s linear;
    top: -100px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.couten li a {
    display: block;
}

.jilua {
    position: absolute;
    top: 27.4rem;
    left: 6.5rem;
    line-height: 20px;
    color: #fff;
}

.deng {
    position: absolute;
    display: block;
}

.deng li {
    width: 0.825rem;
    height: 0.825rem;
    display: inline-block;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/tiggerline1.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

 
.deng1 li {
    margin-right: 0.85rem;
}

 

.deng2 li {
    margin-right: 0.85rem;
}

 

.deng3 li {
    margin-bottom: 0.5rem;
}

 

.deng4 li {
    margin-bottom: 0.5rem;
}

/* .deng li.dengc {
    background: url(https://hdggcdn.bayimob.com/hdggstatic/tiggerline.png) 0 0 no-repeat;
    background-size: 100% 100%;
} */

@keyframes mymove {
    from,to {
        top: 23.7rem;
        left: 4.5rem;
        width: 10.0rem;
        height: 4rem;
    }
     50%{
        top: 24.7rem;
        left: 4.5rem;
        width: 10.0rem;
        height: 3rem;
    }
}

@-webkit-keyframes mymove
/*Safari and Chrome*/

{
    from,to {
        top: 23.7rem;
        left: 4.5rem;
        width: 10.0rem;
        height: 4rem;
    }
     50%{
        top: 24.7rem;
        left: 4.5rem;
        width: 10.0rem;
        height: 3rem;
    }
}
#hdgg_more_game_award{
    z-index:3;
}
.swiper-container {
    position: relative;
    width: 100%;
    height: 5.3rem;
    padding-top: 0.3rem;
    background: #290380;
    border-top: 2px solid #4b3fc9;
}
.swiper-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 2.45rem;
    height: 2.8rem;
    z-index: 2;
    background: url(https://hdggcdn.bayimob.com/hdggstatic/swiper/shops_title.png) no-repeat;
    background-size: 100%;
}
.swiper-slide {
   text-align: center;
   font-size: 18px;
   height: 4rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}
.swiper-slide:nth-child(1){
    margin-left: 1.5rem;
}
.swiper-slide .imgf{
    width: 3.25rem;
    height: 3.25rem;
    margin:0 auto;
    display: block;
    border-radius: 0.5rem;
    border:3px solid #fae00b;
}
.swiper-slide p{
    margin-top: 0.3rem;
    width: 100%;
    display: block;
    color: #fff;
    font-size: 0.6rem;
}
.swiper-slide:nth-child(1) .imgf{
    background:#fff url(https://hdggcdn.bayimob.com/hdggstatic/swiper/hongbao_188.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(2) .imgf{
    background:#fff url(https://hdggcdn.bayimob.com/hdggstatic/swiper/hongbao_88.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(3) .imgf{
    background:#fff url(https://hdggcdn.bayimob.com/hdggstatic/swiper/hongbao_10.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(4) .imgf{
    background:#fff url(https://hdggcdn.bayimob.com/hdggstatic/swiper/hongbao_6.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(5) .imgf{
    background:#fff url(https://hdggcdn.bayimob.com/hdggstatic/swiper/hongbao_fudai.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(6) .imgf{
    width: 0.5rem;
    background: transparent;
}

.lagan {
	  width: 1.275rem;
    height: 3.775rem;
    position: absolute;
    top: 19.6rem;
    left: 13rem;
    background: url(../images/lagan.png) no-repeat;
    background-size: 100%;
}
.lanGif {
	width: 1.275rem;
	height: 3.775rem;
	position: absolute;
	top: 19.6rem;
	left: 13rem;
	background: url(../images/langan.gif) no-repeat;
	background-size: 100%;
}
.quandeng {
	width: 15.8rem;
	height: 13.15rem;
	position: absolute;
	top: 7rem;
	left: 1.4rem;
	background: url(../images/deng1.png) no-repeat;
	background-size: 100%;
	animation: dengGo .6s infinite linear;
}
@keyframes dengGo{
	from{
		background: url(../images/deng1.png) no-repeat;
		background-size: 100%;
	}
	to{
		background: url(../images/deng2.png) no-repeat;
		background-size: 100%;
	}
}