html {
  font-size: 20px;
}

body {
  background: #261501;
}

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

#contant {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/bg1.jpg) no-repeat;
  background-size: 100%;
  height: 30.5rem;
  padding-bottom: 0.1rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes ssGuang {
  0% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ssGuang {
  0% {
    -webkit-opacity: 0.25;
  }
  25% {
    -webkit-opacity: 0.5;
  }
  50% {
    -webkit-opacity: 0.75;
  }
  100% {
    -webkit-opacity: 1;
  }
}

@-moz-keyframes ssGuang {
  0% {
    -moz-opacity: 0.25;
  }
  25% {
    -moz-opacity: 0.5;
  }
  50% {
    -moz-opacity: 0.75;
  }
  100% {
    -moz-opacity: 1;
  }
}

@-o-keyframes ssGuang {
  0% {
    -o-opacity: 0.25;
  }
  25% {
    -o-opacity: 0.5;
  }
  50% {
    -o-opacity: 0.75;
  }
  100% {
    -o-opacity: 1;
  }
}

.starShine1 {
  position: absolute;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/star.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: 4rem;
  right: 1.5rem;
  width: 0.5rem;
  height: 0.5rem;
  animation: ssGuang 0.8s linear infinite alternate;
}

.starShine2 {
  position: absolute;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/star.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: 4.5rem;
  left: 2rem;
  width: 0.5rem;
  height: 0.5rem;
  animation: ssGuang 0.8s linear infinite alternate;
}

.starShine3 {
  position: absolute;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/star.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: 6rem;
  right: 3rem;
  width: 0.75rem;
  height: 0.75rem;
  animation: ssGuang 0.8s linear infinite alternate;
}

.starShine4 {
  position: absolute;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/star.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: 6rem;
  right: 6rem;
  width: 1rem;
  height: 1rem;
  animation: ssGuang 0.8s linear infinite alternate;
}

.starShine5 {
  position: absolute;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/star.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: 6rem;
  left: 3rem;
  width: 0.75rem;
  height: 0.75rem;
  animation: ssGuang 0.8s linear infinite alternate;
}

.starShine6 {
  position: absolute;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/star.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: 6rem;
  left: 6rem;
  width: 1rem;
  height: 1rem;
  animation: ssGuang 0.8s linear infinite alternate;
}

#danlists {
  height: 19rem;
  padding-top: 12.3rem;
}

#danlists h1 {
  height: 1.4rem;
  line-height: 1.4rem;
  color: #fff;
  font-size: 0.7rem;
  font-weight: normal;
  text-align: center;
}

#danlists ul {
  width: 15.5rem;
  margin: 0 auto;
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.clear {
  clear: both;
}

.jiang {
  position: absolute;
  right: 0rem;
  top: 0rem;
  width: 2.7rem;
  height: 2.7rem;
  line-height: 1.15rem;
  text-align: center;
  font-size: 0.65rem;
  z-index: 2;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/wdjiangpin.png) no-repeat;
  background-size: 100% 100%;
}

.alerty {
  position: absolute;
  top: 5.0rem;
  left: 0;
  display: none;
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
  margin-right: 1.375rem;
  margin-left: 1.375rem;
  background: #fff;
  border-radius: 0.75rem;
  z-index: 12;
}

.saclose {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 3;
  width: 1.6em;
  height: 1.6em;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/hdgg_close.png) 0 0 no-repeat;
  background-size: contain;
}

.zhenotice {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4)
}

.rule {
  position: absolute;
  left: 0.5rem;
  top: 0.75rem;
  width: 2.25rem;
  height: 0.85rem;
  text-align: center;
  font-size: 0.65rem;
  z-index: 1;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/rule.png) no-repeat;
  background-size: 100% 100%;
}

.notice {
  position: relative;
  padding-bottom: 0.5rem;
}

.notice h1 {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-top: 0.5rem;
  color: #440d00;
  text-align: center;
  font-weight: normal;
}

.notice h1.ntile1 {
  height: 3.5rem;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  margin-top: 0;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/activenotice.jpg) no-repeat;
  background-size: 100% 100%;
}

.notice h1.title {

  color: #440d00;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.notice h1 span {
  width: 1.75rem;
  height: 1px;
  display: inline-block;
  background: #440d00;
  vertical-align: middle;
}

.notice h1 span:first-child {
  margin-right: 0.4rem;
}

.notice h1 span:last-child {
  margin-left: 0.4rem;
}

.notice .contant {
  width: 85%;
  height: 16rem;
  margin: 0 auto;
  padding: 0.5rem;
  color: #440d00;
  overflow: auto;
}

.notice .contant p {
  line-height: 1rem;
  font-size: 0.6rem;
  margin-bottom: 0.25rem;
}

.notice .contant p.font14, .notice .contant h1.font14 {
  font-size: 0.7rem;
}

.moresay {
  background: #fd6918;
  color: #fff;
  width: 80%;
  height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5rem;
}

.moresayp {
  display: none;
  padding-top: 1.0rem;
}

.moresay i {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  margin-left: .3rem;
  transition: all .3s ease-in-out;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transform-origin: .15rem .15rem;
  transform-origin: .15rem .15rem;
  vertical-align: middle;
  border: 1px solid transparent;
  border-top-color: #fff;
  border-left-color: #fff;
}

.activeadv i {
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

.contain {
  margin-top: 6rem;
  height: 17.45rem;
  position: relative;
}

.counts {
  position: absolute;
  top: 13rem;
  left: 35%;
  color: #fff;
  font-size: 0.7rem;
}

#catchOx {
  position: relative;
  top: 13.2rem;
  left: 31.7%;
  width: 7.5rem;
  height: 15rem;
}

#hdgg_more_game_award {
  z-index: 3;
}

#hdgg_show-tomorrow {
  z-index: 12;
}

.machine {
  width: 4.2rem;
  height: 4.675rem;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/machine.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  right: 7.85rem;
  top: 0.25rem;
  z-index: 1;
}

.persons {
  width: 4.2rem;
  height: 4.675rem;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/person.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  right: 7.85rem;
  top: 0.25rem;
}

.personRight {
  width: 2.8rem;
  height: 4.675rem;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/personright2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  right: 0.85rem;
  top: 0.25rem;
}

/*.persons {*/
/*background: url(https://hdggcdn.bayimob.com/hdggstatic/laoyu/person.png);*/
/*background-size: 100% 100%;*/
/*}*/

.plat {
  background: url(https://hdggcdn.bayimob.com/hdggstatic/laoyu/chuan.png);
  background-size: 100% 100%;
}

.plat {
  width: 7rem;
  height: 3rem;
  /* background: url(../img/ship.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 2.15rem;
}

.start {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -2.25rem;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/start2.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 1;
	
}
.startGo {
	animation:  startMove .6s infinite linear;
	-webkit-animation:  startMove .6s infinite linear;
}
@keyframes startMove{
	 0% {
		 transform: scale(1);
	 }
	 25% {
		 transform: scale(1.05);
	 }
	 50% {
		 transform: scale(1.1);
	 }
	 75% {
		 transform: scale(1.05);
	 }
	 100% {
		 transform: scale(1);
	 }
}
@-webkit-keyframes startMove{
	0% {
		-webkit-transform: scale(1);
	}
	25% {
		-webkit-transform: scale(1.05);
	}
	50% {
		-webkit-transform: scale(1.1);
	}
	75% {
		-webkit-transform: scale(1.05);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
.start2 {
  width: 5.75rem;
  height: 5.75rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left: -2.875rem;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/start.png) no-repeat center;
  background-size: 100% 100%;
}

.started {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  bottom: 1.75rem;
  left: 50%;
  margin-left: -2.25rem;
  background: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/start2.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 1;
}

.DB_guide .DB_G_circle, .DB_guide .DB_G_hand {
  position: absolute;
  background-repeat: no-repeat;
}

.DB_guide {
  position: absolute;
  left: 58%;
  top: 18.66rem;
  z-index: 2;
  pointer-events: none;
}

.DB_guide .DB_G_circle {
  background-size: 100% 100%;
  width: 1rem;
  height: 1rem;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-animation: guidCircle 1.5s linear infinite normal;
  animation: guidCircle 1.5s linear infinite normal;
}

.DB_guide .DB_G_hand {
  width: 5rem;
  height: 5.25rem;
  left: -0.5rem;
  top: 6.5rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/laoyu/Hands.png);
  background-size: contain;
  -webkit-animation: guideHand 1.5s linear infinite normal;
  animation: guideHand 1.5s linear infinite normal;
  opacity: 0;
}

@-webkit-keyframes guideHand {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  20%, 80% {
    opacity: 1;
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
  }
}

#hdgg_show-win {
  left: 0em;
}

#hdgg_more_game_award.hdgg_move {
  z-index: 2;
}

@-webkit-keyframes waKuang {
  0% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/person.png);
  }
  100% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/person2.png);
  }
}

@-moz-keyframes waKuang {
  0% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/person.png);
  }
  100% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/person2.png);
  }
}

@-o-keyframes waKuang {
  0% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/person.png);
  }
  100% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/person2.png);
  }
}

@keyframes waKuang {
  0% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/person.png);
  }
  100% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/person2.png);
  }
}

.startWa {
  -webkit-animation: waKuang 0.2s ease-in-out 0s infinite alternate;
  -moz-animation: waKuang 0.2s ease-in-out 0s infinite alternate;
  -o-animation: waKuang 0.2s ease-in-out 0s infinite alternate;
  animation: waKuang 0.2s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes zou {
  0% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/personright1.png);
  }
  100% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/personright2.png);
  }
}

@-moz-keyframes zou {
  0% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/personright1.png);
  }
  100% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/personright2.png);
  }
}

@-o-keyframes zou {
  0% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/personright1.png);
  }
  100% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/personright2.png);
  }
}

@keyframes zou {
  0% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/personright1.png);
  }
  100% {
    background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/personright2.png);
  }
}

.personRightGo {
  -webkit-animation: zou 0.2s ease-in-out 0s infinite alternate;
  -moz-animation: zou 0.2s ease-in-out 0s infinite alternate;
  -o-animation: zou 0.2s ease-in-out 0s infinite alternate;
  animation: zou 0.2s ease-in-out 0s infinite alternate;
}

.prize1 {
  position: absolute;
  top: 16rem;
  left: 0.75rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/baoxiang.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.prize11 {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/baoxiang.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: rotate(60deg);
}

.prize2 {
  position: absolute;
  top: 17.25rem;
  left: 7.5rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/fudai.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.prize22 {
  position: absolute;
  top: 0.25rem;
  left: -1.25rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/fudai.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: rotate(60deg);
}

.prize3 {
  position: absolute;
  top: 15.75rem;
  left: 15rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/baoxiang.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.prize33 {
  position: absolute;
  top: 0rem;
  right: -0.5rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/baoxiang.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: rotate(60deg);
}

.prize4 {
  position: absolute;
  top: 23rem;
  left: 2rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/jingkuai.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.prize44 {
  position: absolute;
  top: 0rem;
  left: -0.5rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/jingkuai.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: rotate(60deg);
}

.prize5 {
  position: absolute;
  top: 21.5rem;
  left: 11.5rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/fudai.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  z-index: 1;
}

.prize55 {
  position: absolute;
  top: 0rem;
  left: -1.5rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/fudai.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: rotate(60deg);
}

.prize6 {
  position: absolute;
  top: 22.75rem;
  left: 16.1rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang17/baoxiang.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.prize66 {
  position: absolute;
  top: 0rem;
  left: -1.5rem;
  width: 2.75rem;
  height: 2.75rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/prize1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: rotate(60deg);
}

.prizeBao {
  position: absolute;
  top: 26rem;
  left: 15rem;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/bgkuai.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.prize7 {
  position: absolute;
  top: 26.5rem;
  left: 15.75rem;
  width: 2.25rem;
  height: 2.25rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/prize3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  z-index: 1;
}

.leftPrize {
  display: inline-block;
  position: absolute;
  top: 8rem;
  left: 0.5rem;
  width: 2rem;
  height: 2.5rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/leftPrize.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.prizeZz {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  cursor: pointer;
}

.prizeList {
  position: absolute;
  top: 9rem;
  left: 1.75rem;
  width: 15.75rem;
  height: 12.25rem;
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/prizeList.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  z-index: 1;
}

.closePrizeList {
  position: absolute;
  top: 8.75rem;
  left: 15.75rem;
  width: 2rem;
  height: 2rem;
  z-index: 2;
}

.tongs {
  position: absolute;
  top: 3.8rem;
  left: 8.7rem;
  width: .06rem;
  -webkit-transform-origin: .03rem 0;
  transform-origin: .03rem 0;
  /*-webkit-transform: rotateZ(33deg);*/
  /*transform: rotateZ(33deg);*/
  z-index: 12;
}

.tongs.activity {
  -webkit-animation: tongsRun 4s linear infinite;
  -moz-animation: tongsRun 4s linear infinite;
  -o-animation: tongsRun 4s linear infinite;
  animation: tongsRun 4s linear infinite;
}

@-webkit-keyframes leftClipRun {
  0%, to {
    -webkit-transform: rotateZ(-10deg);
  }

  50% {
    -webkit-transform: rotateZ(30deg);
  }
}

@-moz-keyframes leftClipRun {
  0%, to {
    -moz-transform: rotateZ(-10deg);
  }

  50% {
    -moz-transform: rotateZ(30deg);
  }
}

@-o-keyframes leftClipRun {
  0%, to {
    -o-transform: rotateZ(-10deg);
  }

  50% {
    -o-transform: rotateZ(30deg);
  }
}

@keyframes leftClipRun {
  0%, to {
    transform: rotateZ(-10deg)
  }

  50% {
    transform: rotateZ(30deg)
  }
}

@-webkit-keyframes rightClipRun {
  0%, to {
    -webkit-transform: rotateZ(0deg);
  }

  50% {
    -webkit-transform: rotateZ(-30deg);
  }
}

@-moz-keyframes rightClipRun {
  0%, to {
    -moz-transform: rotateZ(0deg);
  }

  50% {
    -moz-transform: rotateZ(-30deg);
  }
}

@-o-keyframes rightClipRun {
  0%, to {
    -o-transform: rotateZ(0deg);
  }

  50% {
    -o-transform: rotateZ(-30deg);
  }
}

@keyframes rightClipRun {
  0%, to {
    transform: rotateZ(0deg)
  }

  50% {
    transform: rotateZ(-30deg)
  }
}

@-webkit-keyframes tongsRun {
  0%, 50%, to {
    -webkit-transform: rotateZ(0deg);
  }

  25% {
    -webkit-transform: rotateZ(44deg);
  }

  75% {
    -webkit-transform: rotateZ(-44deg);
  }
}

@-webkit-keyframes tongsRun {
  0%, 50%, to {
    -webkit-transform: rotateZ(0deg);
  }

  25% {
    -webkit-transform: rotateZ(44deg);
  }

  75% {
    -webkit-transform: rotateZ(-44deg);
  }
}

@-moz-keyframes tongsRun {
  0%, 50%, to {
    -moz-transform: rotateZ(0deg);
  }

  25% {
    -moz-transform: rotateZ(44deg);
  }

  75% {
    -moz-transform: rotateZ(-44deg);
  }
}

@-o-keyframes tongsRun {
  0%, 50%, to {
    -o-transform: rotateZ(0deg);
  }

  25% {
    -o-transform: rotateZ(44deg);
  }

  75% {
    -o-transform: rotateZ(-44deg);
  }
}

@keyframes tongsRun {
  0%, 50%, to {
    transform: rotateZ(0deg)
  }

  25% {
    transform: rotateZ(44deg)
  }

  75% {
    transform: rotateZ(-44deg)
  }
}

.tongs .line {
  width: .2rem;
  height: 1.02rem;
  /*background-image: linear-gradient(177deg, #9e8e83 0%, #ccb6a0 39%, #f4eeea 100%);*/
  background-color: #350101;
  z-index: 8;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tongs .tongsHead {
  position: relative;
}

.tongs .tongsHead .linePart1 {
  width: .3rem;
  height: .23rem;
  background-image: linear-gradient(119deg, #b6b8b9 0%, #d2d4d6 60%, #e1e3e4 100%);
  /*background-color: #350101;*/
  z-index: 9;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-38%);
  transform: translate(-38%)
}

.tongs .tongsHead .linePart2 {
  width: .5rem;
  height: .5rem;
  top: .2rem;
  border-radius: .1rem .1rem 0 0;
  background-image: linear-gradient(119deg, #ad1e18 0%, #c56f2c 60%, #d7a65b 100%);
  /*background-color: #350101;*/
  z-index: 10;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-40%);
  transform: translate(-40%);
}

.tongs .tongsHead .leftClip {
  width: 2rem;
  height: 2rem;
  background-position: center center;
  position: absolute;
  top: -0.025rem;
  left: -1.825rem;
  z-index: 12;
  -webkit-transform-origin: 1.85rem 0.5rem;
  transform-origin: 1.85rem 0.5rem;
  -webkit-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/left.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.tongs .tongsHead .leftClip.activity {
  -webkit-animation: leftClipRun .5s linear infinite;
  -moz-animation: leftClipRun .5s linear infinite;
  -o-animation: leftClipRun .5s linear infinite;
  animation: leftClipRun .5s linear infinite;
}

.tongs .tongsHead .rightClip {
  width: 2rem;
  height: 2rem;
  background-position: center center;
  position: absolute;
  top: 0.15rem;
  left: 0rem;
  z-index: 11;
  -webkit-transform-origin: 0rem 0.4rem;
  transform-origin: 0rem 0.4rem;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
  background-image: url(https://hdggcdn.bayimob.com/hdggstatic/wakuang1/right.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.tongs .tongsHead .rightClip.activity {
  -webkit-animation: rightClipRun .5s linear infinite;
  -moz-animation: rightClipRun .5s linear infinite;
  -o-animation: rightClipRun .5s linear infinite;
  animation: rightClipRun .5s linear infinite;
}

@keyframes scale {

  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes scale {

  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes scale {

  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes scale {

  0% {
    -o-transform: scale(1);
  }
  50% {
    -o-transform: scale(1.2);
  }
  100% {
    -o-transform: scale(1);
  }
}

#hdgg-left-float-image {
	top: 2.2rem !important;
}
/* 红包插件样式 */
.mengceng {
	width: 18.75rem;
	height: 100%;
	position: fixed;
	top: 0rem;
	left: 0rem;
	 background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.redTitle {
	width: 12.5rem;
	height: 5.5rem;
	position: absolute;
	top: 6rem;
	left: 50%;
	margin-left: -6.25rem;
	background: url(../img/prompt_1.png) no-repeat;
	background-size: 100%;
}
.jishi {
	width: 9rem;
	height: 9rem;
	position: absolute;
	top: 12rem;
	left: 50%;
	margin-left: -4.5rem;
	background: url(../img/3.png) no-repeat;
	background-size: 100%;
	display: none;
}
.jishi2 {
	width: 9rem;
	height: 9rem;
	position: absolute;
	top: 12rem;
	left: 50%;
	margin-left: -4.5rem;
	background: url(../img/2.png) no-repeat;
	background-size: 100%;
}
.jishi1{
	width: 9rem;
	height: 9rem;
	position: absolute;
	top: 12rem;
	left: 50%;
	margin-left: -4.5rem;
	background: url(../img/1.png) no-repeat;
	background-size: 100%;
}
.jishiGo {
	width: 9rem;
	height: 9rem;
	position: absolute;
	top: 12rem;
	left: 50%;
	margin-left: -4.5rem;
	background: url(../img/GO.png) no-repeat;
	background-size: 100%;
}
.jishi_animate {
	animation: jigo .35s  infinite linear;
	-webkit-animation: jigo .35s  infinite linear;
}
@keyframes jigo{
	from{transform: scale(1);}
	to{transform: scale(0);}
}
@-webkit-keyframes jigo{
	from{-webkit-transform: scale(1);}
	to{-webkit-transform: scale(0);}
}
.couten {
  position: absolute;
  left: 1rem;
  margin: 0 auto;
  top: 0rem;
  width: 90%;
  height: 31rem;
  overflow: hidden;
  overflow-y: hidden;
  /* z-index: 1; */
  padding: 0 1rem 0 0;
}

.couten li {
  position: absolute;
  animation: all 3s linear;
  top: -100px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
 

.couten li a {
  display: inline-block;
	
}
 

.couten li a img {
  display: inline-block;
}
.clickBao {
	 background: url(../img/hb1_pre.png) no-repeat;
	 background-size: 100%;
}
.timeShow {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 2rem;
	left: 0rem;
	color: #fecc6d;
	font-size: 0.85rem;
	display: none;
}
.timeShow span {
	font-size: 1.3rem;
	color: #fff;
}
.topBaoxiang {
	width: 3.575rem;
	height: 3.575rem;
	position: absolute;
	top: 0rem;
	right: 0rem;
	 background: url(../img/xiaoBao.png) no-repeat;
	background-size: 100%; 
	z-index: 3;
}
.topBaoxiang span {
	  position: absolute;
    bottom: 0.47rem;
    right: 1.1rem;
    color: #ffedc3;
    font-size: .7rem;
		
	
}
.fotterLight {
	width: 12.175rem;
	height: 12.17rem;
	position: absolute;
	bottom: 8rem;
	left: 50%;
	margin-left: -6.0875rem;
	background: url(../img/guang12.png) no-repeat;
	background-size: 100%;
	display: none;
}
.smallLight {
	width: 11.875rem;
	height: 11.875rem;
	position: absolute;
	bottom: 0rem;
	left: 50%;
	margin-left: -5.9375rem;
	background: url(../img/guang.png) no-repeat;
	background-size: 100%;
}
.bigBao {
	width: 12.175rem;
	height: 12.75rem;
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	margin-left: -6.0875rem;
	background: url(../img/baoBg.png) no-repeat;
	background-size: 100%;
	animation: baoGo 1.2s linear; 
	-webkit-animation: baoGo 1.2s linear; 
}
@keyframes baoGo{
	 0% {
		 opacity: 0;
	 }
	 25% {
		 opacity: 0.25;

	 }
	 50% {
		opacity: 0.5;

	 }
	 75% {
		opacity: 0.75;

	 }
	 100% {
		opacity: 1;

	 }
}
@-webkit-keyframes baoGo{
	 0% {
			 opacity: 0;
		 }
		 25% {
			 opacity: 0.25;
	
		 }
		 50% {
			opacity: 0.5;
	
		 }
		 75% {
			opacity: 0.75;
	
		 }
		 100% {
			opacity: 1;
	
		 }
}
.timeEnd {
	width:12.5rem;
	height: 5.5rem;
	position: absolute;
	top:7rem;
	left: 50%;
	margin-left: -6.25rem;
	background: url(../img/prompt_2.png) no-repeat;
	background-size: 100%;
	display: none;
}
.bgOpcity {
	animation: bgOp .6s linear;
}
@keyframes bgOp{
	from{opacity: 1;}
	to{opacity: .2;}
}
